/********************
  Lily Script One
********************/

@font-face {
  src: url(../fonts/lily_script_one.ttf);
  font-family: 'Lily Script One';
  font-weight: 400;
  font-style: normal;
}

/********************
  Kreon Light
********************/

@font-face {
  src: url(../fonts/kreon_light.ttf);
  font-family: 'Kreon Light';
  font-weight: 400;
  font-style: normal;
}
