/********************
  General
********************/

* {
  @include prefix(box-sizing, border-box);
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  color: $color-secondary;
  background-color: $color-primary-dark;
  font-family: $base-ff;
  font-size: $base-fz;
  font-weight: $base-fw;
  line-height: $base-lh;
}

h1 {
  font-family: $heading-ff;
  font-size: $heading-fz;
  font-weight: $heading-fw;
  line-height: $heading-lh;
}

input,
select,
button {
  color: $color-primary-dark;
  font-family: $form-ff;
  font-size: $form-fz;
  font-weight: $form-fw;
  line-height: $form-lh;
}

.title {
  display: block;
  margin: $spacing-unit;
  text-align: center;
}
