<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>
  <body>

    <main>
      <h1 class="title">Trippie</h1>
      <h2 class="subtitle">Plan samen je trip</h2>

      <form class="travel-input" action="/trip" method="post">
        <input type="text" name="username" placeholder="Jouw naam" required value="Max">
        <input type="text" name="trip" placeholder="Naam van je trip" required value="Vakantie 2020">
        <input type="text" name="location" placeholder="Stad waar je trip begint" required value="Amsterdam">
        <button type="submit">Maak jouw Trippie</button>
      </form>
    </main>

    <script type="module" src="/js/main.js"></script>

    <%- include('partials/footer') %>
  </body>
</html>
