/********************
  Trip options
********************/

.options {
  position: fixed;
  z-index: 2;
  left: 0;
  top: $spacing-unit;
  display: block;
  overflow-y: scroll;
  width: 20rem;
  max-height: calc(100vh - #{6 * $spacing-unit});
  padding: .84375rem;
  margin: $spacing-unit 0;
  border-radius: 0 .625rem .625rem 0;
  background-color: $color-primary-dark;
  box-shadow: 0 0 0 .625rem rgba(44,44,44,.2);

  & .title {
    display: block;
    margin: .84375rem;
    margin-bottom: 0;
    font-size: 2em;
    text-align: left;
  }

  & h2 {
    display: block;
    margin: 0 .84375rem;
    margin-bottom: #{.5 * $spacing-unit};
    font-size: 1.25em;

    & > strong {
      color: $color-secondary-dark;
    }
  }
}

/********************
  Active users
********************/

.active-users {
  display: block;

  &__list {
    display: block;
    width: 100%;
    list-style-type: none;

    & > li {
      position: relative;
    }
  }
}

.user {
  @include prefix(display, inline-flex);
  @include prefix(flex-wrap, nowrap);
  @include prefix(align-items, center);
  opacity: 0;
  margin: .5rem .84375rem;
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
  @include prefix(transform, translateX(0));
  @include prefix(transition, transform .3s $cubic-bezier);
  @include prefix(animation, showUser 1s $cubic-bezier forwards);

  &__initial {
    position: relative;
    @include prefix(flex, 0 0 auto);
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    padding: .5625rem;
    border: .125rem solid $color-secondary;
    border-radius: 50%;
    font-size: .75em;
    text-align: center;
    text-transform: capitalize;
    line-height: .7;
  }

  &__fullname {
    display: block;
    height: 1rem;
    margin: 0 #{.5 * $spacing-unit};
    font-size: 1em;
    line-height: 1;
  }

  &:hover,
  &:active {
    @include prefix(transform, translateX(10px));
  }

  &.admin {
    & .user__initial {
      color: $color-primary-dark;
      background-color: $color-secondary;

      &::after {
        position: absolute;
        right: -.625rem;
        top: -.625rem;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: $color-secondary-dark;
        background-image: url(../images/icons/admin.svg);
        background-repeat: no-repeat;
        background-position: 50% 40%;
        background-size: 40% auto;
        content: '';
      }
    }

    & .user__fullname {
      height: 1.25rem;
      font-family: $heading-ff;
      font-size: 1.25em;
    }
  }
}

@-webkit-keyframes showUser {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes showUser {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes showUser {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes showUser {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/********************
  User option
********************/

.user-option {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  min-width: 10rem;
  min-height: $spacing-unit;
  padding: .59375rem;
  border-width: .125rem;
  border-style: solid;
  border-radius: #{.5 * $spacing-unit};
  background-color: transparent;
  font-size: .75em;
  cursor: pointer;

  &.add-admin {
    border-color: $color-secondary;
    color: $color-secondary;

    &:hover,
    &:focus {
      color: $color-primary-dark;
      background-color: $color-secondary;
    }
  }

  &.remove-admin {
    border-color: $color-error;
    color: $color-error;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-error;
    }
  }
}

/********************
  Start button
********************/

.start-btn {
  display: block;
  width: calc(100% - 1.6875rem);
  min-height: #{2 * $spacing-unit};
  padding: 1.25rem;
  border: .325rem solid $color-secondary;
  border-radius: $spacing-unit;
  margin: $spacing-unit .84375rem;
  color: $color-secondary;
  background-color: transparent;
  font-family: $heading-ff;
  cursor: pointer;
  @include prefix(transition, all .3s ease);

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-secondary;
  }
}
